{% assign page_slug = page.url | replace: '.html', '' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://brasizepro.com{{ page_slug }}"
  },
  "author": {
    "@type": "Organization",
    "name": "BraSizePRO"
  },
  "publisher": {
    "@type": "Organization",
    "name": "BraSizePRO",
    "logo": {
      "@type": "ImageObject",
      "url": "https://brasizepro.com/assets/img/logo.png"
    }
  }{% if page.date_published %},
  "datePublished": {{ page.date_published | jsonify }}{% endif %}{% if page.last_reviewed %},
  "dateModified": {{ page.last_reviewed | jsonify }}{% endif %}
}
</script>
