{% assign page_slug = page.url | replace: '.html', '' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ page.title }}",
  "description": "{{ page.description }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://iamrango.com{{ page_slug }}"
  },
  "author": {
    "@type": "Organization",
    "name": "IMRango Fitting Editorial Board"
  },
  "publisher": {
    "@type": "Organization",
    "name": "IMRango",
    "logo": {
      "@type": "ImageObject",
      "url": "https://iamrango.com/assets/img/logo.png"
    }
  },
  {% if page.date_published %}
  "datePublished": {{ page.date_published | jsonify }},
  {% endif %}
  {% if page.last_reviewed %}"dateModified": {{ page.last_reviewed | jsonify }}{% endif %}
}
</script>
