{% assign page_slug = page.url | replace: '.html', '' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": {{ page.title | jsonify }},
  "url": "https://iamrango.com{{ page_slug }}",
  "applicationCategory": "ReferenceApplication",
  "operatingSystem": "All",
  "browserRequirements": "Requires JavaScript and a modern HTML5-capable browser.",
  "description": {{ page.description | jsonify }},
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
  "author": {
    "@type": "Organization",
    "name": "IMRango",
    "url": "https://iamrango.com"
  }
}
</script>
