<aside class="home-card home-ad-card" aria-label="Advertisement">
  <span class="home-card-ad-label">Advertisement</span>
  <div class="home-card-ad-content">
    <script type="text/javascript">
      atOptions = {
        'key' : 'c891357951c9fa74200a4b22e7a18c12',
        'format' : 'iframe',
        'height' : 250,
        'width' : 300,
        'params' : {}
      };
    </script>
    <script type="text/javascript" src="https://www.highrevenueformat.com/c891357951c9fa74200a4b22e7a18c12/invoke.js"></script>
  </div>
</aside>
